{% extends "base.html" %}

{% block title %}Edit profile{% endblock %}

{% block content %}
    <h2>Edit profile</h2>
        <ul class="list-group">
            {% for query in user.queries.all %}
                <li class="list-group-item">
                    {{ query.text }}
                    <button ></button>
                </li>
            {% endfor %}
        </ul>
    <form method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="btn btn-primary">Add query</button>
    </form>
{% endblock %}